/* 
======================================================
   @The11View Utility
   File: reset.css
   Hash: #a1f93c
====================================================== 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
